*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
.gradle/
.idea/
"gradlew"
"gradlew.bat"
# Firebase config (секретный файл, не должен быть в гите)
google-services.json
moontrade-release.jks


/build/
**/build/



gradlew
gradlew.bat


*.webp
